<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test-Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b5a8">  <td>18/04/03 17:05:30</td>   <td>0</td> <td title="&gt;&gt;TestBase.read()[pri:0, instance:Test.TestCase1_Group@610694f1]">&gt;&gt;read</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897871865</td>   <td></td> </tr>
<tr bgcolor="83a2f9">  <td>18/04/03 17:05:57</td>   <td>26274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase1_Group.Group()[pri:0, instance:Test.TestCase1_Group@610694f1]">Group</td> 
  <td>main@1897871865</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>18/04/03 17:06:09</td>   <td>38345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase6_TRP.Trp()[pri:0, instance:Test.TestCase6_TRP@43814d18]">Trp</td> 
  <td>main@1897871865</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>18/04/03 17:06:18</td>   <td>48056</td> <td title="&lt;&lt;TestBase.After()[pri:0, instance:Test.TestCase1_Group@610694f1]">&lt;&lt;After</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1897871865</td>   <td></td> </tr>
</table>
