<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a8684">  <td>18/05/25 10:02:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.After()[pri:0, instance:Company.COMP_GSTN_STATECODE_MISMATCH_01@4973813a]">&lt;&lt;After</td> 
<td>&nbsp;</td>  <td>main@1860513229</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>18/05/25 09:57:56</td>   <td>-269863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="COMP_GSTN_STATECODE_MISMATCH_01.COMP_GSTN_STATECODE_MISMATCH()[pri:0, instance:Company.COMP_GSTN_STATECODE_MISMATCH_01@4973813a]">COMP_GSTN_STATECODE_MISMATCH</td> 
  <td>main@1860513229</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>18/05/25 09:57:40</td>   <td>-286841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.read()[pri:0, instance:Company.COMP_GSTN_STATECODE_MISMATCH_01@4973813a]">&gt;&gt;read</td> 
<td>&nbsp;</td>  <td>main@1860513229</td>   <td></td> </tr>
</table>
